site_name: OC Process
site_url: https://awpbuild.atlnz.lc/releases/awplus-gui/cloud/docs/oc-process/
repo_url: https://github.dev/martinnzz/oc-process
theme:
  name: material
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono

nav:
  - Home: 
    - Introduction: introduction.md
    - Overview: overview.md
  - Processes:
    - Testing: testing.md
    - Continuous Delivery: cd.md
  - Architecture:
    - Guidelines: guidelines.md
    - Details: details.md
  - Workflows:
    - 'How to publish an image': publish.md
    - 'How to test an image': test.md

plugins:
  - search
